#dashboard {
    display: flex;
}


#userdata {
    display: flex;
    width: 40%;
    flex-direction: column;
}

#username {
    font-size: 50px;
}

#usertitle {
    border: 1px solid;
    border-radius: 5px;
}



#useractions {
    display: flex;
    flex-direction: column;
}

