
.nav-inventory{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:auto;
}
#inventory{
    margin-top:20px;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
#inventory-card{
    width:85%;
    height:auto;

    display:flex;
    justify-content: center;
    align-items: center;
}
#avatars, #skins, #description{
    flex:1;
    height:500px;
}
#inventory-card span{
    width:50px;
}
.history-title{
    flex:1;

    text-align:right;
}
.history-title p{
    color:#A18A68;
}
#avatars p,
#skins p{
    font-size:30px;
}
#inventory-grid{
    margin-top:10px;
    padding:20px;
    display:grid;
    grid-template-columns: 140px  140px  140px;
    grid-template-rows: 140px  140px  140px;
    grid-column-gap: 20px;
    grid-row-gap:20px;
    max-width:100%;
    height:auto;
    background-color:#3378cc5b;
    border-radius:5px;
}
.inventory-item{
    border:1px solid black;
    border-radius:5px;
    max-width:140px;
    max-height:140px;
}
.inventory-item img{
    max-width:140px;
    max-height:140px;
    min-width:140px;
    min-height:140px;
    width:140px;
    height:140px;
}
.brilli{
    border: 4px solid red;
}


.description-inventory
{
    margin-top:50px;
    width: 100%;
    min-height:100%;
    border-radius:5px;
    border: 1px solid black;
}
.desc-head{
    width:100%;
    height:50%;
    display:flex;
    justify-content: center;
    align-items:center;

}
.desc-image{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex:1;
    height:100%;
}
.desc-image img{
    width:80%;
    height:80%;
    border-radius:5px;
}
.desc-title{
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex:1;
    height:100%;
}
.desc-title p{
    max-width: 80%;
    font-size:25px;
    margin-right:10px;

}
.desc-body{
    align-items:center;
    display:flex;
    justify-content: center;
    width:100%;
    height:30%;

}
.desc-body p{
    max-width: 80%;
    overflow: hidden;
  text-overflow: ellipsis;
}
.desc-options{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:auto;
}
