@import url(https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap);
html,* {
    margin: 0;
    padding:0;
}

body{
    display: block;
    height:100vh;

}
/*Caja que contiene el navbar*/
#app{
    width:100%;
    height:180px;
}
.bighr{
    margin-right:80px;
    margin-left:80px;
    color: rgba(128, 128, 128, 0.141);
}
.nav-login{
    margin-top:20px;
    display:flex;
    justify-content: center;
}
.login-location{
    display:flex;
    justify-content: center;
    width:85%;
}
.location{
    width:85%;
    height:auto;
}
nav{
    width:100%;
    height:100%;
    display:flex;
}
.separator-layout{
    height:30px;
    width:auto;
    left:0px;
    margin-right:45px;
    border-right: solid #4b4b4b 1px;
}
.container{
    display:flex;
    flex:1;
    align-items:center;
    height:180px;

}
.list{
    flex:1;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:180px;
}

.anchor-logo{
    display:flex;
    width:220px;
    height:auto;
    height:120px;
    transition:0.2s;
}
.logo{
    transition:0.3s;
    align-items:center;
    margin-left:50px;
}
.nav-link{
    text-decoration:none;
    color:white;
    font-family: 'Lexend', sans-serif;
    font-size:22px;
    padding-bottom: 5px;
    transition:0.2s;
}
.responsive-dropdown{
    display:none;
}
.navbar-auto{
    display:flex;
}

.nav-link:hover{
    border-bottom: 3px solid white !important;

}
.nav-link-white{
    text-decoration:none;
    color:white;
    font-family: 'Lexend', sans-serif;
    font-size:22px;
    padding-bottom: 5px;
}
.nav-link-white:hover{
    border-bottom: 3px solid white !important;

}
.nav-link-black{
    text-decoration:none;
    color:black;
    font-family: 'Lexend', sans-serif;
    font-size:22px;
    padding-bottom: 5px;
    transition:0.3s;
}
.nav-link-black:hover{
    border-bottom: 3px solid black !important;

}
li{
    display: inline-block;
    text-decoration:none;
    margin-right:50px;

}
ul{
    margin-right:25px;
}
.button-div{
    margin-top:5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn-action{
    background-color: #4b86c1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:5px;
}
.form-check{
    display:flex;
    justify-content:center;
}
.form-check-input{
    margin-top:4px;
}
.form-check span{
    width:5px;
    height:auto;
}

.div-remember{
    margin-top:5px;
}
input[type=text], input[type=email], input[type=password] {
    border-radius:5px;
    border: 0.1px solid black;
    text-indent:1em;
}

select{
    border-radius:5px;
    background-color: white;
    text-indent:1em;
}
.dropdown-img{
    display:none;
    width:40px;
    margin-right:30px;
}
.adminuser{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.admin-button{
    width:50px;
    height:100%;
}

@media (max-width:1500px) {

    .nav-link-black{
        font-size:20px;
    }

}
@media (max-width:900px) {
    .responsive-nav{
        display:none;
    }
    .responsive-dropdown{
        display:block;
    }
    .dropdown-img{
        display:block;
        width:40px;
    }
    #dropdown-menu{
        -webkit-animation: lazydrop 300ms ease-in-out forwards;
                animation: lazydrop 300ms ease-in-out forwards;

        width:auto;
        padding-left:50px;
        background-color: white;
        display:none;
        justify-content: center;
        align-items: center;
        transform-origin: top center;
        height:100px;
    }

    .anchor-logo{
        width:220px;
        height:120px;
    }
    .logo{
        align-items:center;
        margin-left:30px;
    }

}

@-webkit-keyframes lazydrop {
    85% {
        transform: scaleY(1.1)
    }
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes lazydrop {
    85% {
        transform: scaleY(1.1)
    }
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}
.red{
    background-color: rgba(255, 0, 0, 0.757);
}
.select-admin{
    text-indent:5px;
    height:25px;
}

.invalid-feedback{
    display:none;
}
@media(max-width:440px){
    .responsive-dropdown{
        display:flex;
        justify-content: center;
        align-items: center;
    }

}

