@import url(https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap);
html,* {
    margin: 0;
    padding:0;
}

body{
    display: block;
    width:100vw;
    height:100vh;

}
/*Caja que contiene el navbar*/
#app{
    width:100%;
    height:180px;
}

nav{
    width:100%;
    height:100%;
    display:flex;
}

.container{
    flex:1;
    align-items:center;
    height:180px;

}
.list{
    flex:1;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:180px;
}
.anchor-logo{
    display:flex;
    width:300px;
    height:auto;
    height:180px;
}
.logo{
    align-items:center;
    margin-top:20px;
    margin-left:50px;
}
.nav-link{
    text-decoration:none;
    color:white;
    font-family: 'Lexend', sans-serif;
    font-size:22px;
    padding-bottom: 5px;
}
.nav-link:hover{
    border-bottom: 3px solid white !important;

}
.nav-link-white{
    text-decoration:none;
    color:white;
    font-family: 'Lexend', sans-serif;
    font-size:22px;
    padding-bottom: 5px;
}
.nav-link-white:hover{
    border-bottom: 3px solid white !important;

}
.nav-link-black{
    text-decoration:none;
    color:black;
    font-family: 'Lexend', sans-serif;
    font-size:22px;
    padding-bottom: 5px;
}
.nav-link-black:hover{
    border-bottom: 3px solid black !important;

}
li{
    display: inline-block;
    text-decoration:none;
    margin-right:50px;

}
ul{
    margin-right:15px;
}
.button-div{
    margin-top:5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn-action{
    background-color: #4b86c1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:5px;
}
.form-check{
    display:flex;
    justify-content:center;
}
.form-check-input{
    margin-top:4px;
}
.form-check span{
    width:5px;
    height:auto;
}
body{
    overflow-x:hidden;
}
.div-remember{
    margin-top:5px;
}
input[type=text], input[type=email], input[type=password] {
    border-radius:5px;
    border: 0.1px solid black;
    text-indent:1em;
}

select{
    border-radius:5px;
    background-color: white;
    text-indent:1em;
}


