#show-margin{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    }
    .show-header{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    .margin-header{
        width:85%;
        height:auto;
        margin-top:20px;
    }
    #view-product{
        display:flex;
        justify-content: center;
        width:85%;
        height:auto;
    }
    .hidden{
        display:none !important;
    }
    #image-box{
        margin-left:100px;
        padding:50px;
        flex:1.5;
        max-width:100% !important;
        display:flex;
        justify-content: center;
        align-items: center;
        height:auto;
    }
    .make-changes{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #desc-box-edit{
        text-align: center;
        align-items: center;
    }
    #product-img{
        width:100%;
        height:100%;
    }
    #product-img-edit{
        width:400px;
        height:400px;
    }
    .location-show{
        transition:0.3s;
        font-size:60px;
        margin-bottom:20px;
    }
    #desc-box{
        position:relative;
        margin-left:150px;
        margin-top:50px;
        flex:2;
        display:block;
        height:auto;
    }
    .text{
        font-family: 'Lexend', sans-serif;
        font-size:18px;
        margin-top:10px;
    }
    .text-title{
        font-family: 'Lexend', sans-serif;
        color:black;
        font-size:70px;
        transition:0.3s;
    }
    .make-changes{
        display:flex;
        width:100px;
        width:100%;
        height:auto;
        margin-top:20px;

    }
    .spanlabelsubmit{
        width:50px;
    }

#buy-options
{
    position:absolute;
    bottom: 100px;
    margin-top:20px;
    width:auto;
    height:auto;
    justify-content: center;
    align-items:center;
}
.price-box{
    flex:1;
    height:100%;
}
.cart-box{
    display: flex;
    align-items: center;
    flex:1;
    height:100%;
}
.price{
    display: block;
    flex:1;
    height:100%;
}
.price-num{
    color: rgb(252, 70, 70);
    font-size:35px;
}
.form-under-price{
    margin-top:20px;
}
.price p:nth-child(1){
    font-size:25px;
}

.get-into-cart{
    background-color: #a8c7ed7b;
    display:flex;
    margin-top:20px;
    min-width:120px;
    justify-content: center;
    align-items: center;
    flex:0.8;
    height:100%;
    border-radius:5px;
    padding-top:20px;
    padding-bottom:20px;

    transition:0.3s;
}
.get-into-cart:hover{
    background-color: #98c3f7a7;
}
.shop-now{
    background-color: #3680d97b;
    display:flex;
    min-width:300px;
    justify-content: center;
    align-items: center;
    flex:0.8;
    height:100%;
    border-radius:5px;
    padding-top:20px;
    padding-bottom:20px;

    transition:0.3s;
}
.shop-now:hover{
    background-color: #367fd9a7;
}
.cart-title{
    flex:1;
    font-size:30px;
}
.options-show{
    display:flex;
    justify-content:flex-end;
    flex:1;
    padding-right:35px;
}
.options-show img{
    max-width:40px;
    max-height:40px;
    transition:0.3s;
}
.type-item
{
    color:#6a5638;
    margin-bottom:20px;
}
.separate-price{
    width:100px;
    height:100%;
}
.add-cart-button{
    display:flex;
    align-items: center;
    height:60px;
}
.add-cart-button span{
    width:50px;
    height:60px;
}
.add-cart-button .options-show-cart img{
    max-height:50px;
    height:90px;
}
.center{
    margin-left:20px;
}
.options-cart img{
    height:40px;
    width:40px;
}
@media (max-width:800px) {
    .location-show{
        font-size:40px;
    }
    .center{
        display:flex;
        justify-content: center;
        align-items: center;
        }
        .get-into-cart{
            margin:0px;
        }
        .responsive-text{
            width:400px;
            height:auto;
            margin-bottom:100px;
        }
        #view-product{
            margin-bottom:30px;
        }
        .text-title{
            font-size:40px;
        }
        .shop-now{
            margin-top:20px;
        }
        #buy-options
{
    position:relative;
    bottom: 100px;
    margin-top:40px;
    width:auto;
    height:auto;
    justify-content: center;
    align-items:center;
}

}
@media (max-width:1800px) {
    #image-box{
        margin-left:0px;
        min-height:480px;
    }


}
@media (max-width:450px) {
    #image-box{
        min-width:auto;
        max-width:100%;
    }
    #buy-options
    {
        position:absolute;
        bottom: 0px;
        margin-top:40px;
        width:auto;
        height:auto;
        justify-content: center;
        align-items:center;
    }



}
@media (max-width:1500px) {
    .responsive-text{
        width:30%;
        min-width:400px;
        text-align: center;
    }
    #view-product{
        display:block;
        width:100%;
        height:auto;
    }
    .price{
        text-align:center;
    }
    #image-box{
        padding:0px;
        max-width:100%;
        height:auto;
        min-height:auto;
    }
    #image-box img{
        width:30%;
        height:30%;
        min-width:300px;
    }
    #desc-box{
        margin-left:0px;
        display:flex;
        justify-content: center;
        min-height:400px;
    }
    .cart-box{
        display:block;
    }
    #buy-options
{
    position:absolute;
    bottom: -30px;
    margin-top:40px;
    width:auto;
    height:auto;
    justify-content: center;
    align-items:center;
}
.nav-shop{
    display:flex;
    justify-content: center;
    align-items: center;
}
.get-into-cart{
    margin-top:20px;
}

}
.options-show-cart form img
{
    height:40px;
    margin-right:40px;
}

