@import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
#shop-section{
    display:flex;
    justify-content:center;
    max-width:100%;
    height:auto;

}
#card-shop{
    margin-top:20px;
    width:85%;
    height:100px;

}
.nav-shop{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100px;
}
.location{
    transition:0.3s;
    flex:1;
    display:flex;
    align-items:center;
}

.location p{
    transition:0.3s;
}
.bigpan{
    flex:auto;

    height:100%;
}
.options-cart{
    flex:1;
    display:flex;
    justify-content: right;
}
.options{
    flex:1.5;
    display:flex;
    justify-content:flex-end;
    align-items:right;
}
.location p{
 font-family: 'Lexend', sans-serif;
 font-size:70px;
}
#searchbar{
margin-right:20px;
transition:0.3s;
}
.options{
    display:flex;
    justify-content:flex-end;
    align-items: right;
}
.options img{
    max-width:40px;
    max-height:40px;
    transition:0.3s;
}
.separator{
    height:30px;
    width:auto;
    margin-right:20px;
    margin-left:20px;
    border-right: solid #4b4b4b 1px;
}
.form-search{
    display:flex;
    width:auto;
    height:auto;
    transition:0.3s;
}
.form-search button img{
    max-width:40px;
    max-height:40px;
}
.btn-simple{
    border:0px;
    background-color:rgba(255, 255, 255, 0);
}
#portal-shop{
    display:flex;
    justify-content:center;
    margin-top:50px;
    width:100%;
    height:auto;
    position: relative;
    display: inline-block;
}
#portal-shop img{
    border-radius:30px;
}
#portal-shop img{
    display:block;
    min-width:100%;
}

.content-text{
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translate( -50%, -50% );

    color: white;
    font-weight: bold;
}

.title-header{
    font-family: 'Lexend', sans-serif;
    font-size:30px;
    margin-bottom:10px;
}
.price-header{
    font-size:25px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom:20px;
}
p{
    font-family: 'Lexend', sans-serif;
}

.border{
 border:2px solid white;
 border-radius:5px;
 transition:0.3s;
}
.border:hover{
    background-color:rgba(255, 255, 255, 0.721);

}
.border:hover p{
    color:black;
}
.border p{
    font-size:17px;
    padding-right:25px;
    padding-left:25px;
    padding-top:15px;
    padding-bottom:15px;
    color:white;
}
#last-shop{
    width:100%;
    height:auto;
    min-height:300px;
    margin-top:30px;
}
#last-shop p{
    margin-top:20px;

}
.all-list{
    display:flex;
    justify-content: center;
    min-width:100%;
    height:auto;
    margin-bottom:20px;
}
.all-title{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    top:0px;
    flex:1;
    width:auto;
    height:auto;
    font-size:30px;
}

.all-filter{
    flex:1;
    display:flex;
    justify-content: flex-end;
    text-align:right;
    align-items:right;
    width:auto;
    height:auto;
    transition:0.1s;
}
.all-filter a{
    text-decoration: none;
}
.all-filter a:hover{
    border-bottom: 3px solid #A18A68 !important;
}

.all-filter p{
    color:#A18A68;
    font-size:18px;
}

#grid-shop{
    max-width:100%;
    height:600px;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    margin-bottom:20px;
}
.grid-item{
    width:100%;
    height:auto;
    margin-bottom:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    transition:0.3s;
}
.grid-item:hover{
    box-shadow: rgba(0, 0, 0, 0.338) 0px 4px 12px;
}
.product-image{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:400px;
    margin-top:20px;
}
.grid-item button img{
    max-width:40px;
    max-height:40px;
}
.product-image img{
    max-width:100%;
    max-height:100%;
}
.product-sect{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:20px;
}
.product-info{
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
    height:auto;
}
.product-title{
    width:80%;
    display:flex;
    justify-content: center;

    display:block;
    flex:1;
}
.product-title p{
    text-align: start;
}
.product-shopping{
    display:flex;
    justify-content:right;
    align-items:right;
    margin-right:15px;
    flex:1;
}
.produt-info p{
    font-size:30px;
}


/**SEARCH ITEMS SHOP**/
#search-results{
    margin-top:50px;
    display:flex;
    justify-content: center;
    width:100%;
    height:auto;
}

#card{
    width:85%;
    height:auto;
}
#results{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:50px;
    width:100%;
    height:auto;
}
#grid-shop-extend{
    max-width:100%;
    height:auto;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
}

#card .nav-shop{
    margin-bottom:50px;
}
.js-button-drop-search{
    display:none;
}

@media (max-width:1800px) {
.location p{
    font-size:60px;
}
}

@media (max-width:1195px) {
    .location p{
        font-size:30px;
    }
    .bigpan{
        display:none;
    }
}

@media (max-width:1580px) {
    #grid-shop{
        max-width:100%;
        height:auto;
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
        margin-bottom:50px;
        align-items:center;
        text-align:center;
    }
    .grid-item{
        margin-top:20px;
        max-width:400px;
        align-self: center;
        justify-self: center;
    }
    .options{
        width:40%;
        display:flex;
        justify-content:flex-end;
        align-items:right;
    }
    .product-sect{
        margin-bottom:20px;
    }
    .location p{
        font-size:50px;
    }
}

@media (max-width:800px) {
    .location p{
        font-size:40px;
    }
    .form-search:nth-child(1) {
        display:none;
    }
    .separator{
        display:none;
    }

    .search-result-form{
        display:none;
    }
    .js-button-drop-search{
        display:block;
    }
    #portal-shop img{
       width:50px;
       border-radius:10px;
    }
    .content-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );

        color: white;
        font-weight: bold;
    }
    .price-header{
        display:none;
    }
    .title-header{
        display:none;
    }
    .border{
        background-color:#3378cc5b;
    }
    #grid-shop{
        max-width:100%;
        height:auto;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
        margin-bottom:50px;
        align-items:center;
        text-align:center;
    }
    .grid-item{
        margin-top:20px;
        max-width:400px;
        align-self: center;
        justify-self: center;
    }

    .product-sect{
        margin-bottom:20px;
    }

}

#shoppingcart-main{
    width:100%;
    display:flex;
    justify-content: center;
    height:100%;

}
.align-shop{
    width:85%;
    height:auto;
    margin-top:50px;
}
.cart-item{
    border:1px solid black;
    border-radius:5px;
    width:100%;
    height:auto;
    display:flex;
    margin-bottom:20px;
}
#image-box{
    display:flex;
    justify-content: center;
    align-items: center;
}
.shoppingcart-image-desc{
    flex:1;
    text-align: center;
}
.shoppingcart-image-desc img{
    width:150px;
    height:auto;
}
.grid-cart-hidden{
    display:none;
}
.shoppingcart-title{
    flex:2;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
 font-size: 25px;
 font-weight: 800;
}
.shoppingcart-amount{
    flex:1.5;
    display:flex;
    justify-content: center;
    align-items: center;
}
.shoppingcart-price{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
}

.shoppingcart-delete{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.setamount{
    margin-left:15px;
    margin-right:15px;
    width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: #e9e9e9;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 color: #202020;
 cursor: pointer;
}
.shoppingcart-amount p{
    font-size:25px;
}
@media(max-width:1100px){
    .cart-item{
        display:grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
    }
    .shoppingcart-delete{
        margin-bottom:15px;
        margin-top: 15px;
    }
    .grid-cart-hidden{
        display:block;
        height:20px;
        width: 20px;
    }
}

@media(max-width:440px){
    .nav-cart{
        display:flex;
        justify-content: center;
        align-items: center;
        height:100px;
    }



}
.history-title div a{
    position:absolute;
    margin-top:15px;
}
.history-title div {
   height:100%;
   align-items:center;
}
.history-title {
    height:100%;
    align-items:center;
 }
