
.nav-inventory{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:auto;
}
#inventory{
    margin-top:20px;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
#inventory-card{
    width:85%;
    height:auto;

    display:flex;
    justify-content: center;
    align-items: center;
}
#avatars, #skins{
    height:500px;
}

#inventory-card span{
    width:50px;
}
.history-title{
    flex:1;
    text-align:right;
}
.history-title div{
    display:flex;
    justify-content:flex-end;
    align-items:right;
}
.history-title div p{

    width:auto;
    color:#A18A68;
}
.history-title div a{
    display:block;
    text-decoration: none;
    padding-bottom: 15px;
    transition:0.1s;
}
.history-title div a:hover{
        border-bottom: 3px solid #A18A68 !important;
}
#avatars p,
#skins p{
    font-size:30px;
}
#inventory-grid{
    margin-top:10px;
    padding:20px;
    display:grid;
    grid-template-columns: 140px  140px  140px;
    grid-template-rows: 140px  140px  140px;
    grid-column-gap: 20px;
    grid-row-gap:20px;
    max-width:100%;
    height:auto;
    background-color:#3378cc5b;
    border-radius:5px;
    height:475px;
}
.inventory-item{
    border:1px solid black;
    border-radius:5px;
    max-width:140px;
    max-height:140px;
}
.inventory-item img{
    max-width:140px;
    max-height:140px;
    min-width:140px;
    min-height:140px;
    width:140px;
    height:140px;
    overflow:hidden;
    transition: 1s;
    -webkit-animation:1s;
            animation:1s;
}
.reverse-image{
    display:none;
    justify-content:center;
    align-items: center;
    max-width:140px;
    max-height:140px;
    min-width:140px;
    min-height:140px;
    width:140px;
    height:140px;
    overflow:hidden;
    transition: 1s;
    -webkit-animation:1s;
            animation:1s;

            background-color: white;

}
.inventory-item-img{
    max-width:140px;
    max-height:140px;
    min-width:140px;
    min-height:140px;
    width:140px;
    height:140px;
    overflow:hidden;
    transition: 1s;
    -webkit-animation:1s;
            animation:1s;
}

.description-inventory
{
    display:none;
    margin-top:50px;
    width: 100%;
    min-height:100%;
    border-radius:5px;
    border: 1px solid black;
    background-color:#3378cc1f;
}
.desc-head{
    width:100%;
    height:50%;
    display:flex;
    justify-content: center;
    align-items:center;

}
.desc-image{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex:1;
    height:100%;
    margin-top:20px;
}
.desc-image img{
    width:80%;
    height:80%;
    border-radius:5px;
}
.desc-title{
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex:1;
    height:100%;
}
.desc-title p{
    max-width: 80%;
    font-size:25px;
    margin-right:10px;

}
.desc-body{
    align-items:center;
    display:flex;
    justify-content: center;
    width:100%;
    min-height:150px;

}
.desc-body p{
    max-width: 80%;
    overflow: hidden;
  text-overflow: ellipsis;
}
.desc-options{

    display:flex;
    justify-content: center;
    margin-top:20px;
    width:100%;
    height:auto;
}
.button-hidden{
    display:none;
}
@media(max-width:1300px){
    #inventory-card{
        display:block;
    }
    #avatars{

        width:100%;
        margin-bottom:100px;
    }
    #inventory-grid{
        margin-top:10px;
        padding:20px;
        display:grid;
        grid-template-columns: 140px  140px  140px 140px 140px 140px 140px;
        grid-template-rows: 140px  140px  140px;
        grid-column-gap: 20px;
        grid-row-gap:20px;
        max-width:100%;
        height:auto;
        background-color:#3378cc5b;
        border-radius:5px;
        height:475px;
    }
    #skins{
        margin-bottom:100px;
    }
}
@media(max-width:1075px){
    #inventory-card{
        display:block;
    }
    #avatars{

        width:100%;
        margin-bottom:100px;
    }
    #inventory-grid{
        margin-top:10px;
        padding:20px;
        display:grid;
        grid-template-columns: 140px  140px  140px 140px;
        grid-template-rows: 140px  140px  140px;
        grid-column-gap: 20px;
        grid-row-gap:20px;
        max-width:100%;
        height:auto;
        background-color:#3378cc5b;
        border-radius:5px;
        height:475px;
    }
    #skins{
        margin-bottom:100px;
    }
}
@media(max-width:750px){

    #inventory-grid{
        margin-top:10px;
        padding:20px;
        display:grid;
        grid-template-columns: 140px  140px  140px;
        grid-template-rows: 140px  140px  140px;
        grid-column-gap: 20px;
        grid-row-gap:20px;
        max-width:100%;
        height:auto;
        background-color:#3378cc5b;
        border-radius:5px;
        height:475px;
    }
    #skins{
        margin-bottom:100px;
    }
}
@media(max-width:640px){

    #inventory-grid{
        margin-top:10px;
        padding:20px;
        display:grid;
        grid-template-columns: 140px  140px;
        grid-template-rows: 140px  140px  140px;
        grid-column-gap: 20px;
        grid-row-gap:20px;
        max-width:100%;
        height:auto;
        background-color:#3378cc5b;
        border-radius:5px;
        height:475px;
    }
    #skins{
        margin-bottom:100px;
    }
}
@media(max-width:400px){
    .nav-inventory .locationn p{
        font-size:40px;
    }
    #inventory-grid{
        margin-top:10px;
        padding:20px;
        display:grid;
        grid-template-columns: 140px;
        grid-template-rows: 140px  140px  140px;
        grid-column-gap: 20px;
        grid-row-gap:20px;
        max-width:100%;
        height:auto;
        background-color:#3378cc5b;
        border-radius:5px;
        height:475px;
    }
    #skins{
        margin-bottom:100px;
    }
}
